@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.otf');
    font-weight: bold;
    font-style: normal;
}


*{
    list-style-type: none;
}

.wrapper {
    margin: auto;
    width: 62.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    width: 150px;
    height: 70px;
    margin-left: 15px;
    margin-right: 10px;
}

/* MENU */

.contain-nav {
    margin-left: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-family: montserrat-medium;
    font-weight: bold;
}

.contain-nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
}

.dropdown {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 90px;
    width: 80%;
    text-align: right;
}

.dropdown a {

}

.dropdown img {
    width: 50px;
    height: 50px;
}

label {
    display: none;
}

#toggle {
    display: none;
}

@media only screen and (max-width:620px) {
    .wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .contain-logo {
        margin: 0;
        padding:0;
    }

    label {
        font-size: 40px;
        font-weight: bold;
        display: block;
        cursor: pointer;
    }
    .contain-nav {
        margin: 0;
    }

    .dropdown {
        height: 100%;
        text-align: left;
        width: 100%;
        background-color: #fff;
        display: none;
    }

    .dropdown a {
        display: block;
        margin: 15px;
    }

    #toggle:checked + .dropdown {
        display: block;
    }
}

/* FIN DE MENU */

/* PRESENTATION */

.presentation {
    max-width: 1200px;
    margin: 30px auto;
}

.presentation p {
    text-align: justify;
    font-family: gotham;
}

/* SELECT */



.contain-form {
    max-width: 1200px;
    margin: auto;
}

.contain-form select, button
{
    margin-left: 30px;
    background: #0563af;
    color:#fff;
    padding: 10px;
    width: 350px;
    height: 50px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);
}

button {
    width: 50px;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contain {
    padding: 0;
    background: #0563af;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    width: 350px;
    height: 150px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: gotham;
    justify-content: center;
    font-size: 15px;
    color: #fff;
}

.contain-user {
    width: 70%;
    height: 100%;
    padding-left: 1%;
}

.contain-avatar {
    width: 29% ;
    height: 100%;
}

.contain-avatar img {
    width: 100%;
    height: 100%;
}

/* FICHE PERSONNELLE */


#container-cards{
    font-family: Gotham;
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container-card{
    position: relative;
    margin: 20px 10px;
}
.card{
    border: 1px solid black;
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 -5px 7px rgba(0,0,0,.1);
    overflow: hidden;
    background-color: #fff;
}
.image-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out
}
.image-box img{
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out
}

/* SOCIAL ICONS */
.social-icons{
    z-index: 3;
    display: flex;
    margin: 0;
    padding: 0;

    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

}
.social-icons li{
    list-style: none;
}
.social-icons li a{

    position: relative;
    display: block;
    background-color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    padding: 5px;
    margin: 0 5px;
    color: #262626;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    opacity: 0;

    left: 50%;
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -ms-transform: translateY(160px);
    -webkit-transform: translateY(160px);
    transform: translateY(160px);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out
}
.social-icons li a .fa{
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out
}
.social-icons li a:hover .fa{
    transform: rotateX(360deg);
}

/* DETAILS */
.card-details{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15px;
}
.card-details h1{
    font-size: 20px;
    font-weight: 700;
    color: #464646;
}
.card-details h1 span{
    font-size: 14px;
    font-weight: 400;
    color: #ccc;
}
/* HOVER ACTIONS */
.card:hover .image-box img{
    opacity: 0.5;
}
.card:hover .image-box{
    top: -75px;
}
.card:hover .social-icons li a{
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.card:hover .social-icons li:nth-child(1) a{
    transition-delay: 0s;
}
.card:hover .social-icons li:nth-child(2) a{
    transition-delay: 0.1s;
}
.card:hover .social-icons li:nth-child(3) a{
    transition-delay: 0.2s;
}
.card:hover .social-icons li:nth-child(4) a{
    transition-delay: 0.3s;
}
.card:hover .social-icons li:nth-child(5) a{
    transition-delay: 0.4s;
}