<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {%  block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        {% endblock %}
    </head>
    <body>
    <div class="wrapper">
        <div class="contain-nav">
            <img id="logo" src="{{ asset('images/logoLeGreta.png') }}" alt="logo">
            <label for="toggle">&#9776;</label>
            <input type="checkbox" id="toggle">
            <div class="dropdown">
                <li>
                    <a href="#">ACCUEIL</a>
                </li>
                <li>
                    <a href="#">FORMATIONS</a>
                </li>
                <li>
                    <a href="#">MON COMPTE</a>
                </li>
                <li>
                    <a href="{{ path('promotions.index') }}">Promotions</a>
                </li>
                <li>
                    {% include 'security/_login2.html.twig' %}
                </li>
            </div>
            <div class="connect">
               {% include 'security/_menu.html.twig' %}

            </div>
        </div>
    </div>
        {% block body %}

           {% endblock %}
            {% block javascripts %}
                <script src="https://kit.fontawesome.com/d75e360e10.js" crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"  crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
            {% endblock %}

    </body>
</html>


<!-- HEADER -->
