{% block body %}

  {{ form_start(form) }}
    <ul>
        <li>
            {{ form_row(form.degree) }}
        </li>
        <li>
            {{ form_row(form.year) }}
        </li>

        <li><input type="submit" value="Valider"></li>
    </ul>

    {{ form_end(form) }}
{% endblock %}